:root {
    --fe0: rgb(0,55,107);
    --b3f: rgb(250,250,250);
    --b6a: rgb(219,219,219);
    --white-color: #fff;
    --black-color:#000;
    --d87: rgb(251,251,251);
    --ce3: rgb(239,239,239);
    --text-color: #262626;
    --8e: #8e8e8e;

}

* {
    box-sizing: inherit;
}
html {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%;
    line-height: 1.6rem;
    background-color: var(--d87);
}

.grid {
    justify-content: center;
    max-width: 100%;
    display: flex;
}
.grid-row {
    display: flex;
    flex-wrap: wrap;
}
.grid-column-2 {
    width: 50%;
}

.btn {
    font-size: 1.6rem;
    outline: none;
    border: none;
    list-style: none;
    text-decoration: none;
    background-color: transparent;
    line-height: 1.6rem;
    padding: 0;
    cursor: pointer;
}

.pr-12 {
    padding: 0 12px 0;
}
.mb-4 {
    margin-bottom: 4px;
}
.mt-16 {
    margin-top: 16px;
}
